@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "GRAD" 0;
}

html, body, #root {
  background-color: #f8fafc;
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media (hover: none) and (pointer: coarse) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}
